.square {
    height: 3em;
    width: 3em;
    border: 1px dotted black;
    float: left;
    font-size: 5em;
    text-align: center;
    line-height: 3em;
    vertical-align: middle;
    margin: 0.2em;
    cursor: pointer;
}